@import '~bootstrap/scss/bootstrap.scss';
// @import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC);

body {
	padding: auto;
	margin: auto;
}
.two-cards{
    display: inline-block;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -180px;
}

.back-card{
    width: 170px;
    height: 240px;
    border-style: 1px solid black;
    background-image: url("https://cdn.shopify.com/s/files/1/0200/7616/products/playing-cards-bicycle-rider-back-1_1024x1024.png?v=1523371937");
    background-size: 101%;
    padding: 30px;
    float: left;
    margin: 10px;
}
.card{
    width: 170px;
    height: 240px;
    border-style: 1px solid black;
    padding: auto;
    float: right;
    margin: 10px;
    border-radius: 10px;
}

.symbol span{
    text-align: center;
    font: 80px/170px 'Playfair Display SC', serif;
}

.upper-number{
    width: 20px;
    border-style: 1px solid black;
    font-family: 'Playfair Display SC', serif;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    position: relative;
    text-align: center;
}


.lower-number{
    width: 20px;
    border-style: 1px solid black;
    font-family: 'Playfair Display SC', serif;
    margin: 0;
    position: relative;
    text-align: center;
    float: right;
    margin-top: 5px;
    margin-left: 145px;
}

.symbol{
    text-align: center;
    width: 100%;
    border-style: 1px solid black;
    vertical-align: middle;
    position: relative;
}

.hearts, .diams{
    color: red;
}

.clubs, .spades{
   color: black; 
}

// .symbol::before{
//     content: 'S';
// }

/* 
    body{
        background: #BDBDBD;
    }
    
    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

